<ion-content color="primary" class="ion-padding">
  <form>
    <ion-grid style="display: flex; justify-content:center; margin-top:130px;">
      <ion-row color="primary" >
        <ion-col size-md="6" size-lg="5" size-xs="12">
          <div class="ion-text-center">
            <h3>Login</h3>
          </div>
          <div class="ion-padding">
            <ion-item>
              <ion-input [(ngModel)]="email" [ngModelOptions]="{standalone: true}" placeholder="enter email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input [(ngModel)]="password" [ngModelOptions]="{standalone: true}" type="password" placeholder="enter password"></ion-input>
            </ion-item>
          </div>
          <div class="ion-padding">
            <ion-button size="large" type="submit" expand="block" (click)="onLogin(email, password)">Login</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <ion-row>
    <div class="ion-text-center">
      Caso ainda não tenha um conta, por favor <a routerLink='/register'>
        registre-se</a> primeiro!
    </div>
  </ion-row>
</ion-content>